body{
  margin: 0px;
  border: 0;
  padding: 0;
  background-color: rgb(87, 157, 179); 
}

.taskContiner{
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}